version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: mybimbingan-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    profiles:
      - dev
      - staging
      - production

  redis:
    image: redis:7-alpine
    container_name: mybimbingan-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    profiles:
      - dev
      - staging
      - production

volumes:
  postgres_data:
  redis_data: